/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-heading-color: #483d89;
  --primary-text-color: #757575;
  --secondary-text-color: #ffa6de;
  --primary-bg-color: var(--secondary-text-color);
  --secondary-bg-color: var(--primary-heading-color);
  --additional-bg-color: #b984fd;
}

/* Font styling */

body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-text-color);
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.secondary-text {
  color: var(--secondary-text-color); /* Secondary text color */
}

.additional-bg {
  background-color: var(
    --additional-bg-color
  ); /* Additional background color */
}

h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0em;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-heading-color);
}

.sub-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.3em;
  line-height: 26px;
  text-transform: uppercase;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

/* Basic styles for header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100vw;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-height: 80px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 36px;
  align-items: center;
}

header nav ul li {
  width: 100%;
}

header nav ul li a {
  color: #666666;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.6em;
  white-space: nowrap;
}

header .nav-cta {
  height: 40px;
  background-color: #fff;
  padding: 0 15px;
  border: 1px solid var(--primary-heading-color);
  border-radius: 8px;
  color: var(--primary-heading-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2em;
}

/* Homepage styles start */

/* Hero section */
.hero {
  width: 100vw;
  padding: 60px 30px;
  display: flex;
  flex-direction: row;
  gap: 39px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: min-content;
}

.hero .hero-content-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 14px;
  align-items: start;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 55px;
  align-items: start;
  width: 514px;
  justify-content: center;
}

.hero .hero-content a {
  background-color: var(--additional-bg-color);
  color: #fff;
  border: 1px solid var(--additional-bg-color);
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
}
.hero .hero-content a p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  width: 193px;
}

.hero .hero-img {
  display: flex;
  align-items: center;
  width: 581px;
  height: 533px;
  z-index: 2;
}
.hero .hero-img img {
  display: block;
  width: 100%;
  height: 427px;
  border-radius: inherit;
  object-position: center;
  object-fit: contain;
  image-rendering: auto;
}

.cta-button {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #e64a19;
}

/* Home - About section */
.home-about {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: auto; /* Adjusted height property */
  justify-content: center;
  padding: 150px 30px 130px;
  width: 100%;
  background-image: url("./assets/bg-purple.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.home-about-img {
  height: 397px;
  width: 570px;
}
.home-about-img img {
  height: 396px;
  width: 475px;
}

.home-about-content {
  align-content: start;
  align-items: start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 570px;
}

.home-about-content .sub-heading,
.home-about-content p {
  color: #fff;
}

.home-about-headings {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.home-about-headings .heading-top {
  width: fit-content;
  background-color: #fff;
  border-radius: 12px;
  padding: 7px 20px;
}
.home-about-headings .heading-bottom {
  color: #fff;
}

/* Basic styles for features section */
.features {
  padding: 50px 20px;
  text-align: center;
}

.feature {
  margin-bottom: 40px;
}

.feature i {
  font-size: 3em;
  margin-bottom: 20px;
}

.feature h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Basic styles for download app section */
.download-app {
  background-color: #f4f4f4;
  padding: 50px 20px;
  text-align: center;
}

.download-app h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.app-buttons {
  margin-top: 20px;
}

.app-buttons a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
}

.app-buttons a:hover {
  background-color: #333;
  color: #fff;
}

/* Basic styles for footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.social-icons {
  list-style-type: none;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
